{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker-with-price', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- if product.has_only_default_variant -%}
  {{ 'default-product-variant-picker.css' | asset_url | stylesheet_tag }}
  <variant-selects>
    {% assign select_variant = product.selected_or_first_available_variant %}
    <fieldset class="js product-form__input product-form__input--pill">
      <legend class="form__label" style="text-transform: capitalize;font-weight: 600;">Select Variant</legend>
      <span class="variant-with-price-outer">
        <span class="variant-title">{{- product.metafields.custom.variant_title | escape -}}
          {% if settings.enable_sale and select_variant.metafields.custom.deal %}
            <div class="light-time-tracker"><svg width="8" height="13" viewBox="0 0 66 95" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.9318 95L23.4493 57.9902H0L41.2707 0H43.8198L38.4126 41.8639H66L20.4809 95H17.9318Z" fill="#fff"/></svg> <span class="timer"></span></div>
          {% endif %}
        </span>
        <span class="variant-price"><strong>{{ select_variant.price | money }}</strong>
          {% if select_variant.compare_at_price > select_variant.price %}
            <s>{{ select_variant.compare_at_price | money }}</s>
            <i>{{ select_variant.compare_at_price | minus: select_variant.price | times: 100.0 | divided_by: select_variant.compare_at_price | floor }}% off</i>
          {% endif %}
        </span>
      </span>
    </fieldset>
  </variant-selects>
{%- else -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label" style="text-transform: capitalize;font-weight: 600;">Select Variant</legend>
          <div class="product-variant-options-outer">
            <div>
              {% liquid
                assign compare = false
                if product.tags contains 'variant-with-price'
                  assign compare = true
                endif
              %}
              {% if product.tags contains 'online-store' %}
                {% render 'product-variant-options-price',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type,
                  compare: compare 
                %}
              {% else %}
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type
                %}
              {% endif %}
            </div>
          </div>
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endif -%}
