<style>
  .product-recipes { max-width: 1140px; margin-left: auto; margin-right: auto; padding: 0 1.5rem; margin-bottom: 2.5rem; }
  .product-recipes .recipe { text-align: left; padding: 0 5px; flex: 0 0 33.33334%; }
  .swiper-wrapper { display: flex; }
  .product-recipes h2 { text-align: center; font-size: 1.6rem; font-weight: 900; margin: 0 0 2rem; color: var(--color-txt); }
  .recipes ul { display: flex; list-style: none; padding-left: 0; }
  .recipes .grid--3-col-desktop>li { flex: 0 0 80%; }
  .product-recipes .img { padding-top: 60%; position: relative; }
  .recipe h4 { margin: 1.5rem 0 1rem; font-family: var(--font-body-family); font-weight: 700; font-size: 1.4rem; }
  .recipe img { position: absolute; height: 100%; width: 100%; object-fit: cover; top: 0; border-radius: 15px; }
  .recipe a { text-decoration: none;  }
  .recipe a.readmore-blog { color: var(--color-txt); font-size: 1.2rem; font-weight: 700; }
  @media (max-width: 749px) {
    .product-recipes .recipe {  min-width: 70%; }
    .recipes.swiper-container { margin-left: -15px; margin-right: -15px; padding: 0 15px;}
    .swiper-wrapper { overflow: auto; }
    .recipes .swiper-wrapper { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }
    .product-recipes .img { padding-top: 75%; }
    .product-recipes svg { height: 8px; }
    .recipes slider-component { margin-left: -15px; margin-right: -15px; }
    .recipes slider-component .slider.slider--tablet { padding-left: 15px; padding-right: 15px; }
  }
  @media (min-width: 750px) {
    .recipes .grid--3-col-desktop>li { flex: 0 0 30%; }
    .recipes .slider-button .icon { height: 0.85rem; }
    .recipe h4 { font-size: 1.6rem; }
    .recipe a.readmore-blog { font-size: 1.35rem; }
  }
  @media (min-width: 800px) {
  .product-recipes h2 { font-size: 2.1rem; }
  .product-recipes { margin-bottom: 3.5rem; }
}
</style>
{% comment %}
  if product.metafields.contlo.rating_badge %}
  <div class="reviews-bg">
    <div id="shopify-product-reviews--wrapper" class="wrapper">
        <div class="sitewide--title-wrapper">
          <h4>Reviews</h4>
        </div>
      <div id="cntl-review-widget" class="contlo cntl-review-widget" api-key="a2a7b86ad8de2db55a4a0401718e9490" product-id='{{ product.id }}'></div>
    </div>
  </div>
  {% endif %}
{% endcomment %}

{% assign recipes = product.metafields.extra.recipes %}
{% if recipes and section.settings.show_recipes %}
{% assign recipess = recipes | split: '|' %}
<div class="product-recipes">
  {% if section.settings.title != empty %}
    {% if product.tags contains 'oil' %}
      <h2>{{ section.settings.title }}</h2>
    {% else %}
      <h2>Sneak peak into the healthy world</h2>
    {% endif %}
  {% endif %}
  <div class="recipes">
    <slider-component class="slider-mobile-gutter slider-component-page-width slider-component-desktop">
      <ul id="Slider-{{ section.id }}" class="grid--3-col-desktop grid--1-col slider slider--desktop slider--tablet grid--peek" role="list" aria-label="Slider">
        {% for recipe in recipess %}
        {% assign article = articles[recipe] %}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid_item slider__slide recipe">
          <a href="{{ article.url }}">
            {%- if article.image -%}
            {% capture article_alt %}{{ article.image.alt | default: article.title }}{% endcapture %}
            <div class="img">
              {{ article.image | image_url: width: 600 | image_tag: widths: '200,400,600', class: 'motion--reduce', loading: 'lazy', alt: article_alt }}
            </div>
            {%- endif -%}
            <h4>{{ article.title }}</h4>
          </a>
          <a href="{{ article.url }}" class="readmore-blog">Read More <svg width="9" height="10" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z" fill="var(--color-txt)"/></svg></a>
        </li>
        {% endfor %}
      </ul>
      {%- if recipess.size > 3 -%}
      <div class="slider-buttons no-js-hidden">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{{- 'icon-caret.svg' | inline_asset_content -}}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{{- 'icon-caret.svg' | inline_asset_content -}}</button>
      </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Product Recipes",
    "tag": "section",
    "class": "wrapper",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_recipes",
            "label": "Show Recipes",
            "default": true
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
